In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

# Load raw data

In [2]:
df = pd.read_csv('../tmp/matched_sequences.csv', header=0, index_col=0)
df.head()

                                                          Seq  Class
1667874818  P0P0P0P0E2T0G1P0P0P0P0P0P0G0T0G0T2G0T0T0G1G0T4...      1
893140995   P0P0P2P0P0P2T0T0G0G2G0T0P0P0P0P1I0G0T2P0P0P0E0...      1
8189009928  T0G3G0T1P0P0T0T0T0S0S0S0S0T0T0G2T0G3G0T0P0P0P0...      1
4599996427  I0T0O2T0I3G0T0T0G3G0T2G0T3G0T2O2G0T0P0P0P0P0P1...      1
6111690766  G2O0P0P0P0P2G0P0P0P2G0T2T3G0I0G1G3G1T0E0P0S0P0...      1

# Embedding dev

In [3]:
dictionary = ['B', 'E', 'D', 'G', 'I', 'H', 'L', 'O', 'P', 'S', 'R', 'T']
dict_lookup = pd.DataFrame(np.eye(len(dictionary), dtype=np.int), index=dictionary)
dict_lookup

   0   1   2   3   4   5   6   7   8   9   10  11
B   1   0   0   0   0   0   0   0   0   0   0   0
E   0   1   0   0   0   0   0   0   0   0   0   0
D   0   0   1   0   0   0   0   0   0   0   0   0
G   0   0   0   1   0   0   0   0   0   0   0   0
I   0   0   0   0   1   0   0   0   0   0   0   0
H   0   0   0   0   0   1   0   0   0   0   0   0
L   0   0   0   0   0   0   1   0   0   0   0   0
O   0   0   0   0   0   0   0   1   0   0   0   0
P   0   0   0   0   0   0   0   0   1   0   0   0
S   0   0   0   0   0   0   0   0   0   1   0   0
R   0   0   0   0   0   0   0   0   0   0   1   0
T   0   0   0   0   0   0   0   0   0   0   0   1

In [14]:
# Naive embedding for class 1
X1 = pd.DataFrame(columns=dict_lookup.index)
df1 = df[df['Class'] == 1]
for x, index in tqdm(zip(df1['Seq'], df1.index)):
    X1.loc[index] = np.sum([dict_lookup.loc[b, :] for b in x[::2]], axis=0)

100%|██████████| 28806/28806 [16:06<00:00, 29.80it/s]

In [15]:
# Naive embedding for class 0
X0 = pd.DataFrame(columns=dict_lookup.index)
df0 = df[df['Class'] == 0]
for x, index in tqdm(zip(df0['Seq'], df0.index)):
    X0.loc[index] = np.sum([dict_lookup.loc[b, :] for b in x[::2]], axis=0)

100%|██████████| 28806/28806 [23:07<00:00, 20.76it/s]