In [8]:
import pandas as pd
import numpy as np

In [13]:
_dd = pd.read_csv('../data/drugs_used_in_diabetes.csv')
# Fix 6-digit notation
dd = set()  # dd should be a set for performance reasons
for item in _dd.values.ravel():
    if len(item) < 6:
        dd.add(str(0)+item)
    else:
        dd.add(item)
dd = pd.DataFrame(data=list(dd), columns=_dd.columns)
dd.head()

   ITM_CD
0  09061X
1  09180E
2  10649L
3  01763T
4  09449H

In [14]:
ms = pd.read_csv('../data/metformins_sulfonamides.csv')
ms.head()

   ITM_CD
0  01801T
1  02430X
2  03439B
3  08607B
4  09435N

In [23]:
mask = []
for d in dd.values:
    mask.append(d not in ms.values)
dd2 = pd.DataFrame(data=dd.values[mask], columns=_dd.columns)
dd2.shape

(76, 1)