In [1]:
import datetime
now = datetime.datetime.now()
print now.year, now.month, now.day, now.hour, now.minute, now.second

2018 2 22 0 53 53

In [2]:
from sklearn.datasets.base import Bunch

In [12]:
dd = {123: Bunch(seq=[1,1,4,5,6], info=['M', 52]),
      456: Bunch(seq=[2,1,4,5,6], info=['M', 52]),
      678: Bunch(seq=[3,1,4,5,6], info=['M', 52]),
      999: Bunch(seq=[4,1,4,5,6], info=['M', 52]),}

In [43]:
import multiprocessing as mp
import numpy as np
from multiprocessing import Manager

def f(i, shared_arg=None):
    return 2*np.array(shared_arg[i].seq)

manager = Manager()
shared_dict = manager.dict(dd)
pool = mp.Pool(4)

results = [pool.apply_async(f, [i, shared_dict]) for i in [123, 456, 678, 999]]
results = [p.get() for p in results]
results

[array([ 2,  2,  8, 10, 12]),
 array([ 4,  2,  8, 10, 12]),
 array([ 6,  2,  8, 10, 12]),
 array([ 8,  2,  8, 10, 12])]

In [23]:
import pandas as pd
from __future__ import division

In [24]:
df = pd.read_csv('../tmp/dump_class_0.csv', header=0)
df.head()

      PTNT_ID
0  2917138437
1  2644508681
2  3505389578
3  2453667855
4  3314548753

In [39]:
n_jobs = 7

ss = np.array_split(df.values, n_jobs)

In [42]:
ss[0]

array([[2917138437],
       [2644508681],
       [3505389578],
       ...,
       [5105666806],
       [4600253182],
       [ 727862015]])

In [41]:
count = 0
for n in range(n_jobs)
    count += len(ss[n])
print(count)

36169
36169
36169
36169
36168
36168
36168
253180

In [30]:
df.shape

(253180, 1)